:root {
    --color-header-nav: rgb(100, 102, 172);
    --color-link-bg: rgb(160, 162, 211);
    --color-link-hover: rgb(166, 167, 200);
    --color-body: rgb(165, 197, 160);
    --color-text-nav: black;
    --color-main: rgb(248, 248, 248);
    --color-mix: rgb(0, 0, 0);
    --color-code-bg: #dadada;
    --color-code: rgb(22, 22, 22);
    view-transition-name: root;

}

html {
    view-transition-name: none;
}

/* .heading {
    --name: attr(project)
    view-transition-name: var(--name);
} */
/* .heading::after {
    content: ' (source: ' attr(project) ') ';
} */


body {
    margin: 0;
    padding: 0;
    height: 100vh;
    animation: fade-in 700ms linear;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Rajdhani", sans-serif;
}

h1 {
    --font-size-heading: 2em;
    font-size: 2em;
    font-size: clamp(var(--font-size-heading), calc(var(--font-size-heading) * 0.6522) + 1vw, calc(var(--font-size-heading) + 0.2em));
}
h2 {
    --font-size-heading: 1.5em;
    font-size: 1.5em;
}
h3 {
    --font-size-heading: 1.2em;
    font-size: 1.2em;
}
h4 {
    --font-size-heading: 1.1em;
    font-size: 1.1em;
}
h5 {
    --font-size-heading: 1em;
    font-size: 1em;
}

p,
a,
li,
button,
summary,
label {
    font-family: "Montserrat", sans-serif;
}

button,
summary {
    cursor: pointer;
}

::-webkit-scrollbar {
    display: none;
}
:target {
    scroll-margin-top: 2em;
    /* change with js
    - When you go up, calc the section height of the section where the targeted heading is in, en set that as margin top for a second.
    */
}

p, li {
    max-width: 40em;
}

/* The hide class */
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

/* TODO add button to let people scroll insetad of hovering (homepage) */
/* TODO add focus styles */


/* Code pieces // TODO use libraries or something for colors */
pre {
    background-color: var(--color-code-bg);
    color: var(--color-code);
    width: fit-content;
    max-width: 50em;
    border-radius: 8px;
    border: 1px solid transparent;
    margin: 1rem 0 2rem;
    padding: 1rem 2.5rem 1rem 1rem;
    white-space:  break-spaces;
    word-break: break-word;
}

p > code {
    background-color: color-mix(in srgb, var(--color-code-bg)90%, white);
    color: var(--color-code);
    padding: 0.15rem;
    border-radius: 4px;
}

/* Links */
p a {
    color: color-mix(in srgb, currentColor 60%, var(--color-body));
}

@media (prefers-reduced-motion:no-preference){
    html {
        scroll-behavior: smooth;
    }
}

@view-transition {
    navigation: auto;
  }
  


/* All view transition names for each project */

.heading-notesKilian {
    view-transition-name: notesKilian;
}
.element-notesKilian {
    view-transition-name: element-notesKilian;
}
/* .heading-notesKilian {
    view-transition-name: notesKilian;
} */

.heading-notesFenna {
    view-transition-name: notesFenna;
}
.element-notesFenna {
    view-transition-name: element-notesFenna;
}

.heading-processWAFS {
    view-transition-name: processWAFS;
}
.element-processWAFS {
    view-transition-name: element-processWAFS;
}

.heading-notesJeffry {
    view-transition-name: notesJeffry;
}
.element-notesJeffry {
    view-transition-name: element-notesJeffry;
}

.heading-notesNils {
    view-transition-name: notesNils;
}
.element-notesNils {
    view-transition-name: element-notesNils;
}

.heading-notesJeremy {
    view-transition-name: notesJeremy;
}
.element-notesJeremy {
    view-transition-name: element-notesJeremy;
}

.heading-notesMarieke {
    view-transition-name: notesMarieke;
}
.element-notesMarieke {
    view-transition-name: element-notesMarieke;
}

.heading-notesRosa {
    view-transition-name: notesRosa;
}
.element-notesRosa {
    view-transition-name: element-notesRosa;
}

.heading-processCSS {
    view-transition-name: processCSS;
}
.element-processCSS {
    view-transition-name: element-processCSS;
}

.heading-processBT {
    view-transition-name: processBT;
}
.element-processBT {
    view-transition-name: element-processBT;
}

.heading-Hackathon {
    view-transition-name: Hackathon;
}
.element-Hackathon {
    view-transition-name: element-Hackathon;
}

.heading-processAPI {
    view-transition-name: processAPI;
}
.element-processAPI {
    view-transition-name: element-processAPI;
}

.heading-processHCD {
    view-transition-name: processHCD;
}
.element-processHCD {
    view-transition-name: element-processHCD;
}

.heading-Meesterproef {
    view-transition-name: Meesterproef;
}
.element-Meesterproef {
    view-transition-name: element-Meesterproef;
}

.heading-Q42 {
    view-transition-name: Q42;
}
.element-Q42 {
    view-transition-name: element-Q42;
}

.heading-LeerdoelenJop {
    view-transition-name: LeerdoelenJop;
}
.element-LeerdoelenJop {
    view-transition-name: element-LeerdoelenJop;
}

.heading-Robert {
    view-transition-name: Robert;
}
.element-Robert {
    view-transition-name: element-Robert;
}

.heading-CSS-DAY {
    view-transition-name: CSS-DAY;
}
.element-CSS-DAY {
    view-transition-name: element-CSS-DAY;
}

.heading-pre-css-day {
    view-transition-name: pre-css-day;
}
.element-pre-css-day {
    view-transition-name: element-pre-css-day;
}

.heading-De-waag {
    view-transition-name: De-waag;
}
.element-De-waag {
    view-transition-name: element-De-waag;
}
