<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="cards.css">
    <link rel="stylesheet" href="flipcard.css">
    <link rel="stylesheet" href="articles.css">
    <link rel="stylesheet" href="nav.css">
</head>
<body>
    <main>
        <%- content %>
    </main>
    <div class="blob"></div>
    <div class="blob"></div>
    <script src="cards.js"></script>
    <script src="pageTransition.js"></script>
    <!-- <script src="nav.js"></script> -->
    <!-- <script src="cursor.js"></script> -->
</body>
</html>
