<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/cards.css">
    <link rel="stylesheet" href="styles/flipcard.css">
    <link rel="stylesheet" href="styles/articles.css">
    <link rel="stylesheet" href="styles/nav.css">
</head>
<body>
    <%- content %>
    <div class="blob"></div>
    <div class="blob"></div>
    <script src="js/cards.js"></script>
    <script src="js/pageTransition.js"></script>
    <!-- <script src="nav.js"></script> -->
    <!-- <script src="cursor.js"></script> -->
</body>
</html>
