.articles {
    width: 100vw;
    position: absolute;
    top: 0;
    height: 100vh;
    pointer-events: none;
}

.articles > ul {
    width: 100%;
    height: 100%;
    margin: auto;
    pointer-events: none;
    display: flex;
    justify-content: center;
}

.articles > ul > li {
    padding: 3em;
    list-style: none;
    margin: 2em;
    border: solid black 2px;
    border-radius: 1em;
    display: none;
    background-color: white;
    scroll-margin-top: 2em; /* Adjust this value as needed */
    pointer-events: visible;
    transition: 300ms;
    position: absolute;
    width: 80vw;
    height: calc(100% - 4em); /* Adjust to account for margin */
    max-width: 70em;
    row-gap: 1em;
}

.articles > ul > li:target {
    display: grid;
    grid-template-columns: 1fr 30%;
    grid-template-rows: 2em 1fr;
}

html:has(.articles > ul > li:target) body main{
    overflow: hidden;
}

.articles h2 {
    display: none;
}

.articles > ul > li > div {
    max-width: 40em;
    height: 100%;
    overflow-y: auto;
    justify-content: center;
    grid-row: 2/3;
}
.articles > ul > li > a {
    grid-row: 1/2;
    transform: rotate(-90deg);
    transform-origin: left center;
    text-decoration: none;
    font-size: 2em;
    color: black;
    transition: 200ms;
}
.articles > ul > li > a:hover {
    scale: 1.1;
}
.articles > ul > li > .nav {
    grid-row: 2/3;
}

/* The hide class */
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}


