---
layout: base.ejs
title: My Eleventy Blog
---
<main>
    <h1>Blog</h1>
    <ul>
        <!-- TODO add here all the li's of the projects with name, img and little text -->
        <li class="flip-card">
            <a class="flip-card-inner" href="#leerdoelen">
                <div class="flip-card-front">
                    <p>Leerdoelen Jop Minor Web</p>
                </div>
                <div class="flip-card-back">
                    <p>Samenvatting en leerdoelen van de minor web</p>
                </div>
            </a>
        </li>
        <li><a href="/notesFenna">
                <div class="flip-card-front">
                    <p>Fenna de Wilde</p>
                </div>
                <div class="flip-card-back">
                    <p>Over...</p>
                </div>
            </a>
        </li> 
        <li><a href="/notesKilian">
            <div class="flip-card-front">
                <p>Kilian Valkhof</p>
            </div>
            <div class="flip-card-back">
                <p>Over...</p>
            </div>
        </a></li>
        <li><a href="/notesNils">
            <div class="flip-card-front">
                <p>Nils Binder</p>
            </div>
            <div class="flip-card-back">
                <p>Over...</p>
            </div>
        </a></li>
        <li><a href="/notesMarieke">
            <div class="flip-card-front">
                <p>Marieke en Pim</p>
            </div>
            <div class="flip-card-back">
                <p>Over...</p>
            </div>
        </a></li>
        <li><a href="/notesRosa">
            <div class="flip-card-front">
                <p>Rosa Schuurman</p>
            </div>
            <div class="flip-card-back">
                <p>Over...</p>
            </div>
        </a></li>
        <li><a href="/notesJeffry">
            <div class="flip-card-front">
                <p>Jeffry Arts</p>
            </div>
            <div class="flip-card-back">
                <p>Over...</p>
            </div>
        </a></li>
        <li><a href="/notesJeremy">
            <div class="flip-card-front">
                <p>Jeremy Keith</p>
            </div>
            <div class="flip-card-back">
                <p>Over...</p>
            </div></a></li>
        <li><a href="#robert">
            <div class="flip-card-front">
                <p>Robert</p>
            </div>
            <div class="flip-card-back">
                <p>Over...</p>
            </div>
        </a></li>
        <li><a href="/">
            <div class="flip-card-front">
                <p>Q42</p>
            </div>
            <div class="flip-card-back">
                <p>Over...</p>
            </div></a></li>
        <li><a href="/processWAFS">
            <div class="flip-card-front">
                <p>Web App From Scratch</p>
            </div>
            <div class="flip-card-back">
                <p>Over...</p>
            </div></a></li>
        <li><a href="/processCSS">
            <div class="flip-card-front">
                <p>CSS to the rescue</p>
                <img src="images/ufoCockpitCss.webp" alt="">
            </div>
            <div class="flip-card-back">
                <p>Over...</p>
            </div>
        </a></li>
        <li><a href="#">
            <div class="flip-card-front">
                <p>Browser Technologies</p>
            </div>
            <div class="flip-card-back">
                <p>Over...</p>
            </div>
        </a></li>
        <li><a href="#hackathon">
            <div class="flip-card-front">
                <p>Hackathon</p>
                <img src="images/cssDayTaMockup.webp" alt="">
            </div>
            <div class="flip-card-back">
                <p>Over...</p>
            </div>
        </a></li>
        <li><a href="/processAPI">
            <div class="flip-card-front">
                <p>API</p>
                <img src="images/pwaChat.webp" alt="">
            </div>
            <div class="flip-card-back">
                <p>Over...</p>
            </div>
        </a></li>
        <li><a href="/processHCD">
            <div class="flip-card-front">
                <p>Human Centered Design</p>
            </div>
            <div class="flip-card-back">
                <p>Over...</p>
            </div></a></li>
        <li><a href="#meesterproef">
            <div class="flip-card-front">
                <p>meesterproef</p>
            </div>
            <div class="flip-card-back">
                <p>Over...</p>
            </div>
        </a></li>
    </ul>
    <section class="articles">
        <h2>Artikelen</h2>
        <ul>
            <!-- Make li's that comes from the projects out of the data -->
            <li id="robert">  
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sagittis libero a rutrum bibendum. Duis condimentum risus eu massa posuere, sodales pellentesque nisl tempor. In molestie justo at orci tristique congue. In elementum cursus velit, eu lacinia urna tincidunt in. Integer id velit facilisis, efficitur nulla quis, ultrices mi. Donec at vulputate elit. Duis consectetur ut nulla nec maximus. Maecenas ullamcorper erat sit amet tortor euismod fringilla. Donec placerat interdum orci et consequat. Ut ante dui, molestie mollis semper nec, efficitur sed leo.

                        Ut nec nisi non nulla blandit pharetra. Sed scelerisque quis dui varius venenatis. Sed eu elit eu nisi aliquet maximus sed ut turpis. Mauris eget augue a nisi ullamcorper rutrum vel ac augue. Fusce maximus auctor massa, sed condimentum odio dapibus a. Maecenas vehicula sapien fringilla lorem commodo aliquet. Nullam ullamcorper justo ut diam laoreet fermentum. Donec elit magna, tempus id vehicula ut, elementum quis tortor.
                        
                        Suspendisse pretium urna velit, et lobortis erat efficitur in. Integer sagittis augue sit amet elit maximus convallis. Quisque quis pulvinar diam. Morbi et mi nunc. Aenean tempus ex vel tellus imperdiet pellentesque. Proin egestas rutrum mauris id dictum. Aenean ultrices turpis a eros molestie, ac placerat est faucibus. Quisque vulputate condimentum dui, sed blandit nisi luctus eget. Suspendisse euismod magna risus, a pulvinar augue volutpat a. Vivamus a velit quis mi fringilla efficitur. Suspendisse tempor neque et dolor commodo pellentesque. Etiam molestie mi in dui imperdiet, vel pellentesque massa aliquet. Cras congue odio nec semper dictum. Sed id sem tristique, pharetra libero id, consequat eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lectus pharetra, scelerisque nisl et, tincidunt arcu.
                        
                        Donec ac ipsum tristique lectus consequat pretium ac eget ante. Nam eu elit rhoncus, congue neque sed, congue ipsum. Vivamus magna libero, scelerisque aliquam viverra scelerisque, mattis ac urna. Maecenas vitae enim viverra ante tempor ullamcorper. In iaculis, elit non porttitor egestas, mauris tortor laoreet massa, eu interdum lectus lacus ut odio. Aliquam tincidunt, purus a pharetra accumsan, eros ex interdum justo, at euismod magna lorem nec enim. Donec vel massa sit amet neque eleifend suscipit eu at nisl.
                        
                        Quisque vel nisl nec tortor condimentum gravida quis eu metus. Sed rhoncus risus id mi viverra, dapibus posuere massa aliquet. Vestibulum porta aliquam varius. Proin leo enim, rutrum id sodales in, rhoncus eget risus. Duis bibendum sollicitudin congue. Nullam porta cursus condimentum. Quisque varius nibh eu auctor ornare.
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sagittis libero a rutrum bibendum. Duis condimentum risus eu massa posuere, sodales pellentesque nisl tempor. In molestie justo at orci tristique congue. In elementum cursus velit, eu lacinia urna tincidunt in. Integer id velit facilisis, efficitur nulla quis, ultrices mi. Donec at vulputate elit. Duis consectetur ut nulla nec maximus. Maecenas ullamcorper erat sit amet tortor euismod fringilla. Donec placerat interdum orci et consequat. Ut ante dui, molestie mollis semper nec, efficitur sed leo.

                        Ut nec nisi non nulla blandit pharetra. Sed scelerisque quis dui varius venenatis. Sed eu elit eu nisi aliquet maximus sed ut turpis. Mauris eget augue a nisi ullamcorper rutrum vel ac augue. Fusce maximus auctor massa, sed condimentum odio dapibus a. Maecenas vehicula sapien fringilla lorem commodo aliquet. Nullam ullamcorper justo ut diam laoreet fermentum. Donec elit magna, tempus id vehicula ut, elementum quis tortor.
                        
                        Suspendisse pretium urna velit, et lobortis erat efficitur in. Integer sagittis augue sit amet elit maximus convallis. Quisque quis pulvinar diam. Morbi et mi nunc. Aenean tempus ex vel tellus imperdiet pellentesque. Proin egestas rutrum mauris id dictum. Aenean ultrices turpis a eros molestie, ac placerat est faucibus. Quisque vulputate condimentum dui, sed blandit nisi luctus eget. Suspendisse euismod magna risus, a pulvinar augue volutpat a. Vivamus a velit quis mi fringilla efficitur. Suspendisse tempor neque et dolor commodo pellentesque. Etiam molestie mi in dui imperdiet, vel pellentesque massa aliquet. Cras congue odio nec semper dictum. Sed id sem tristique, pharetra libero id, consequat eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lectus pharetra, scelerisque nisl et, tincidunt arcu.
                        
                        Donec ac ipsum tristique lectus consequat pretium ac eget ante. Nam eu elit rhoncus, congue neque sed, congue ipsum. Vivamus magna libero, scelerisque aliquam viverra scelerisque, mattis ac urna. Maecenas vitae enim viverra ante tempor ullamcorper. In iaculis, elit non porttitor egestas, mauris tortor laoreet massa, eu interdum lectus lacus ut odio. Aliquam tincidunt, purus a pharetra accumsan, eros ex interdum justo, at euismod magna lorem nec enim. Donec vel massa sit amet neque eleifend suscipit eu at nisl.
                        
                        Quisque vel nisl nec tortor condimentum gravida quis eu metus. Sed rhoncus risus id mi viverra, dapibus posuere massa aliquet. Vestibulum porta aliquam varius. Proin leo enim, rutrum id sodales in, rhoncus eget risus. Duis bibendum sollicitudin congue. Nullam porta cursus condimentum. Quisque varius nibh eu auctor ornare.
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sagittis libero a rutrum bibendum. Duis condimentum risus eu massa posuere, sodales pellentesque nisl tempor. In molestie justo at orci tristique congue. In elementum cursus velit, eu lacinia urna tincidunt in. Integer id velit facilisis, efficitur nulla quis, ultrices mi. Donec at vulputate elit. Duis consectetur ut nulla nec maximus. Maecenas ullamcorper erat sit amet tortor euismod fringilla. Donec placerat interdum orci et consequat. Ut ante dui, molestie mollis semper nec, efficitur sed leo.

                        Ut nec nisi non nulla blandit pharetra. Sed scelerisque quis dui varius venenatis. Sed eu elit eu nisi aliquet maximus sed ut turpis. Mauris eget augue a nisi ullamcorper rutrum vel ac augue. Fusce maximus auctor massa, sed condimentum odio dapibus a. Maecenas vehicula sapien fringilla lorem commodo aliquet. Nullam ullamcorper justo ut diam laoreet fermentum. Donec elit magna, tempus id vehicula ut, elementum quis tortor.
                        
                        Suspendisse pretium urna velit, et lobortis erat efficitur in. Integer sagittis augue sit amet elit maximus convallis. Quisque quis pulvinar diam. Morbi et mi nunc. Aenean tempus ex vel tellus imperdiet pellentesque. Proin egestas rutrum mauris id dictum. Aenean ultrices turpis a eros molestie, ac placerat est faucibus. Quisque vulputate condimentum dui, sed blandit nisi luctus eget. Suspendisse euismod magna risus, a pulvinar augue volutpat a. Vivamus a velit quis mi fringilla efficitur. Suspendisse tempor neque et dolor commodo pellentesque. Etiam molestie mi in dui imperdiet, vel pellentesque massa aliquet. Cras congue odio nec semper dictum. Sed id sem tristique, pharetra libero id, consequat eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lectus pharetra, scelerisque nisl et, tincidunt arcu.
                        
                        Donec ac ipsum tristique lectus consequat pretium ac eget ante. Nam eu elit rhoncus, congue neque sed, congue ipsum. Vivamus magna libero, scelerisque aliquam viverra scelerisque, mattis ac urna. Maecenas vitae enim viverra ante tempor ullamcorper. In iaculis, elit non porttitor egestas, mauris tortor laoreet massa, eu interdum lectus lacus ut odio. Aliquam tincidunt, purus a pharetra accumsan, eros ex interdum justo, at euismod magna lorem nec enim. Donec vel massa sit amet neque eleifend suscipit eu at nisl.
                        
                        Quisque vel nisl nec tortor condimentum gravida quis eu metus. Sed rhoncus risus id mi viverra, dapibus posuere massa aliquet. Vestibulum porta aliquam varius. Proin leo enim, rutrum id sodales in, rhoncus eget risus. Duis bibendum sollicitudin congue. Nullam porta cursus condimentum. Quisque varius nibh eu auctor ornare.
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sagittis libero a rutrum bibendum. Duis condimentum risus eu massa posuere, sodales pellentesque nisl tempor. In molestie justo at orci tristique congue. In elementum cursus velit, eu lacinia urna tincidunt in. Integer id velit facilisis, efficitur nulla quis, ultrices mi. Donec at vulputate elit. Duis consectetur ut nulla nec maximus. Maecenas ullamcorper erat sit amet tortor euismod fringilla. Donec placerat interdum orci et consequat. Ut ante dui, molestie mollis semper nec, efficitur sed leo.

                        Ut nec nisi non nulla blandit pharetra. Sed scelerisque quis dui varius venenatis. Sed eu elit eu nisi aliquet maximus sed ut turpis. Mauris eget augue a nisi ullamcorper rutrum vel ac augue. Fusce maximus auctor massa, sed condimentum odio dapibus a. Maecenas vehicula sapien fringilla lorem commodo aliquet. Nullam ullamcorper justo ut diam laoreet fermentum. Donec elit magna, tempus id vehicula ut, elementum quis tortor.
                        
                        Suspendisse pretium urna velit, et lobortis erat efficitur in. Integer sagittis augue sit amet elit maximus convallis. Quisque quis pulvinar diam. Morbi et mi nunc. Aenean tempus ex vel tellus imperdiet pellentesque. Proin egestas rutrum mauris id dictum. Aenean ultrices turpis a eros molestie, ac placerat est faucibus. Quisque vulputate condimentum dui, sed blandit nisi luctus eget. Suspendisse euismod magna risus, a pulvinar augue volutpat a. Vivamus a velit quis mi fringilla efficitur. Suspendisse tempor neque et dolor commodo pellentesque. Etiam molestie mi in dui imperdiet, vel pellentesque massa aliquet. Cras congue odio nec semper dictum. Sed id sem tristique, pharetra libero id, consequat eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lectus pharetra, scelerisque nisl et, tincidunt arcu.
                        
                        Donec ac ipsum tristique lectus consequat pretium ac eget ante. Nam eu elit rhoncus, congue neque sed, congue ipsum. Vivamus magna libero, scelerisque aliquam viverra scelerisque, mattis ac urna. Maecenas vitae enim viverra ante tempor ullamcorper. In iaculis, elit non porttitor egestas, mauris tortor laoreet massa, eu interdum lectus lacus ut odio. Aliquam tincidunt, purus a pharetra accumsan, eros ex interdum justo, at euismod magna lorem nec enim. Donec vel massa sit amet neque eleifend suscipit eu at nisl.
                        
                        Quisque vel nisl nec tortor condimentum gravida quis eu metus. Sed rhoncus risus id mi viverra, dapibus posuere massa aliquet. Vestibulum porta aliquam varius. Proin leo enim, rutrum id sodales in, rhoncus eget risus. Duis bibendum sollicitudin congue. Nullam porta cursus condimentum. Quisque varius nibh eu auctor ornare.
                    </p>
                </div>
                <nav class="nav">
                    <ul>
                        <!-- TODO place all the headings of the html in here -->
                        <li>Heading one</li>
                        <li>Heading two</li>
                        <li>Heading three</li>
                        <li>Heading four</li>
                    </ul>
                </nav>
                <a href="#">⇧<span class="visually-hidden">Back</span></a>
            </li>
            <li id="hackathon">
                <div>HTML comes here</div>
                <nav class="nav">
                    <ul>
                        List of headings
                    </ul>
                </nav>
            </li>
            <li id="meesterproef">
                <div>HTML comes here</div>
                <nav class="nav">
                    <ul>
                        List of headings
                    </ul>
                </nav>
            </li>
            <li id="leerdoelen">
                <div>HTML comes here</div>
                <nav class="nav">
                    <ul>
                        List of headings
                    </ul>
                </nav>
            </li>
        </ul>
    </section>
</main>